.overly_body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.264);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overly_container{
    width: 45%;
    height: 55%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.click_body{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
.overly_content{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overly_left , .overly_right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.overly-left_content{
    height: 100%;
}

.overly-left_content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.carousel-root{
    width: 90%;
}

.overly-left_content-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel .control-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.overly-left_content-desc__heading{
    font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #4a4848;
    margin-bottom: 20px;
}
.overly-left_content-desc__desc{
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5f5959;
}
.overly-left_content-desc__desc-last{
    margin-bottom: 40px;
}

.overly_right_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overly_right_content_name{
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #1d1c1c;
    margin-bottom: 16px;
    float: left;
}
.overly_right_content_desc{
        font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #605d5d;
    margin-bottom: 50px;
}
.overly_right-cross{
    position: absolute;
    top: -10px;
    right: -20px;
    font-size: 30px;
    cursor: pointer;
}
.overly_right_login_button{
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #5f5d5d;
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(255,111,97);
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.overly_right_content > p {
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5d5a5a;
}
.overly_right_content > p > span{
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f06659;
    cursor: pointer;
}
.extra{
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #9e9e9e;
}
.terms{
    text-decoration: underline;
}
.extra_{
    font-family:"Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #f0675a;
    cursor: pointer;
}
